In [2]:
import pandas as pd

In [6]:
employee_df = pd.read_csv('data/MOCK_DATA.csv')

In [7]:
employee_df

,id,employee_name,module_1,module_2,module_3,module_4,module_5,module_6,module_7,module_8,module_9,module_10
0,1,Dael Iacobacci,not_started,in_progress,not_started,complete,in_progress,in_progress,in_progress,complete,in_progress,not_started
1,2,Amelie Stockdale,complete,not_started,complete,complete,not_started,in_progress,in_progress,in_progress,complete,in_progress
2,3,Bibby Crayton,complete,complete,complete,in_progress,complete,complete,not_started,in_progress,complete,in_progress
3,4,Bronny Gerlack,in_progress,not_started,complete,not_started,not_started,in_progress,in_progress,in_progress,complete,in_progress
4,5,Annette Cumbers,in_progress,not_started,complete,in_progress,not_started,complete,in_progress,not_started,not_started,in_progress
...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Brunhilde Ditchfield,complete,not_started,in_progress,in_progress,not_started,in_progress,in_progress,not_started,not_started,in_progress
996,997,Jolene Turner,complete,complete,not_started,in_progress,in_progress,in_progress,not_started,not_started,not_started,not_started
997,998,Claude Dami,not_started,complete,in_progress,not_started,in_progress,in_progress,not_started,complete,not_started,complete
998,999,Jessika Petkens,not_started,complete,complete,complete,in_progress,in_progress,in_progress,in_progress,in_progress,not_started
999,1000,Breena Pethrick,in_progress,complete,complete,in_progress,not_started,in_progress,in_progress,not_started,complete,complete

In [8]:
# Calculate completion rates for each module
module_completion = employee_df.apply(lambda x: x.value_counts(normalize=True)).T

# Calculate engagement score based on time taken to complete each module
time_taken = employee_df.apply(lambda x: sum(x == "complete"), axis=0)
engagement_score = (1 / time_taken).mean()

# Calculate feedback score
feedback_score = 4.5 # Assuming a fixed feedback score for this example

In [10]:
time_taken

id                 0
employee_name      0
module_1         333
module_2         315
module_3         333
module_4         353
module_5         333
module_6         338
module_7         328
module_8         327
module_9         325
module_10        324
dtype: int64